html.has-scroll-smooth {
    overflow: hidden;
    transform: none !important;
  }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .has-scroll-smooth body {
    overflow: hidden;
  }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
    perspective: 1px;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }

  html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

// [data-load-container] {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	width: 100vw;
// }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    padding: 0;
    background-color: #F6F7F8 !important;
    font-family: "Open Sans";
    line-height: 1 !important;
    overflow: hidden;
  }


  .ul {
    padding-inline-start: 32px;
    margin-bottom: 24px;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .text-center {
    text-align: center;
  }
  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-center {
    align-items: center;
  }

  .mb-40 {
    margin-bottom: 40px;
  }
  .mt-0 {
    margin-top: 0px;
  }

  .mt-16 {
    margin-top: 16px;
  }

  .h-full {
    height: 100%;
  }

  .h-100 {
    height: 100vh;
  }

  .w-full {
    width: 100%;
  }

  .mw-460 {
    max-width: 480px;
  }

  .mw-500 {
    max-width: 500px;
  }

  .mw-520 {
    max-width: 520px;
  }

  .mw-570 {
    max-width: 572px;
  }

 


  // SPACING (MARGIN/PADDING //

  

  // END SPACING (MARGIN/PADDING //

// FONT STYLES //

strong {
    font-weight: 700;
}

.h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.h2 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

// END FONT STYLES //


//   Nav section //


.nav-section {
    background-color: transparent;
    // background-color: #F0EEFB;
    position: absolute;
    z-index: 10000;
}

.footer-section {
    background-color: transparent;
    // background-color: #F0EEFB;
    position: relative;
    z-index: 10000;
}

  .logo {
    max-width: 254px;

    img {
        width: 100%;
    }
  }

  .club-nav {
    .ul {
        display: flex;

        li {
            list-style: none;
            margin-right: 40px;
            font-weight: 600;
            color: rgb(108, 117, 125);
            text-transform: uppercase;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(108, 117, 125);
            }
        }

        .menu-item {
            &.active {
                color: rgb(33, 37, 41);
            }
        }
    }
  }

  // END NAV SECTION //


//   START HERO SECTION //

.hero-section {
    height: 100vh;
    min-height: 850px;
    background-color: #F0EEFB;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 50%;

    .image-container {
       position: relative;
        .pink-rectangle {
            position: relative;
            top: 60px;
            left: 19px;
            z-index: 10;
        }

        .purple-rectangle {
            position: relative;
            top: 60px;
            left: 19px;
            z-index: 10;
        }

        .blue-circle {
            position: absolute;
            left: 78px;
            top: 12px;

            &.two {
                z-index: 130;
                left: 110px;
            }

            &.three {
                z-index: 110;
                top: 340px;
                left: 30px;
            }
        }

        .hero-card {
            width: 88%;
            position: absolute;
            z-index: 100;
            top: -161px;
            right: -50px;
            
            img {
                width: 100%;
            };
        }

        .funding-card {
            width: 70%;
            position: absolute;
            z-index: 140;
            top: -100px;
            right: 23px;
            
            img {
                width: 100%;
            };
        }

        .summary-card {
            width: 74%;
            position: absolute;
            z-index: 120;
            top: -85px;
            right: 16px;
            
            img {
                width: 100%;
            };
        }

        .loading-card {
            width: 92%;
            position: absolute;
            z-index: 120;
            top: 100px;
            right: 8px;
            
            img {
                width: 100%;
            };
        }

       

        
        .hero-stats {
            width: 88%;
            position: absolute;
            z-index: 100;
        bottom: -220px;
            left: -122px;
            
            img {
                width: 100%;
            };
        }

        .funder-stats {
            width: 75%;
            position: absolute;
            z-index: 120;
        bottom: -240px;
            left: 47px;
            
            img {
                width: 100%;
            };
        }

        .adjust-fund {
            width: 311px;
            position: absolute;
            z-index: 200;
        bottom: -120px;
            left: 64px;
            
            img {
                width: 100%;
            };
        }

        .square-dots {
            width: 70px;
            position: absolute;
            z-index: 100;
        top: 110px;
            left: 0px;
            
            img {
                width: 100%;
            };
        }

        .circle-dots {
            width: 70px;
            position: absolute;
            z-index: 100;
        top: 410px;
            left: 40px;
            
            img {
                width: 100%;
            };
        }

        .circle-dots-alternate {
            width: 70px;
            position: absolute;
            z-index: 100;
        top: 10px;
            left: 40px;
            
            img {
                width: 100%;
            };
        }
    }

    .image-container-left {
       position: relative;
        .pink-rectangle {
            position: relative;
            top: 60px;
            left: 19px;
            z-index: 10;
        }

        .loading-card {
            width: 94%;
            position: absolute;
            z-index: 100;
            top: 100px;
            right: 8px;
            
            img {
                width: 100%;
            };
        }

        .blue-circle {
            position: absolute;
            left: 78px;
            top: 12px;
        }

        .hero-card {
            width: 75%;
            position: absolute;
            z-index: 110;
            top: -73px;
            right: 8px;
            
            img {
                width: 100%;
            };
        }

        .athlete-card {
            width: 73%;
            position: absolute;
            z-index: 1000;
            top: -261px;
            right: 120px;
            
            img {
                width: 100%;
            };
        }

        .orange-circle {
            width: 142px;
            position: absolute;
            z-index: 100;
            top: -10px;
            left: 50px;
            
            img {
                width: 100%;
            };

            &-2 {
            position: absolute;
            z-index: 10;
            top: -90px;
            left: 20px;
            
            img {
                width: 100%;
            };
            }
        }

        .purple-circle {
            position: absolute;
            z-index: 100;
            top: -130px;
            left: 50px;
        }

        .hero-stats {
            width: 76%;
            position: absolute;
            z-index: 100;
        bottom: -187px;
            left: -83px;
            
            img {
                width: 100%;
            };
        }

        .square-dots {
            width: 70px;
            position: absolute;
            z-index: 100;
        top: 110px;
            left: 0px;
            
            img {
                width: 100%;
            };

            &-2 {
                width: 70px;
            position: absolute;
            z-index: 100;
        top: 300px;
                left: 280px;
                img {
                    width: 100%;
                };
            }
        }

        .square-dots-alternate {
            width: 70px;
            position: absolute;
            z-index: 100;
        top: 40px;
            left: 80px;
            
            img {
                width: 100%;
            };
        }

        .pink-triangle {
            position: absolute;
            width: 280px;
            right: 102px;
            top: -11px;
            z-index: 100;
            img {
                width: 100%;
            }
        }
    }
}



//   END HERO SECTION //

// START FEATURES SECTION //

.app-features-section {
    // height: 100vh;
    background-color: transparent;
    margin-bottom: 120px;
}

.desktop-break {
    display: block;
  }

// END FEATURES SECTION //

// APP STORE SECTION //

.app-store-section {
    background-color: #F0EEFB;
    max-height: 474px;
    overflow: visible;

    .hero-right {
        top : -280px;
        .image-container {
            top: -100px;

            .blue-circle {
                &.two {
                    z-index: 90;
                    left: auto;
    right: 184px;
    top: -100px;
                }
            }
            .phone-card {
                width: 230px;
                position: absolute;
                z-index: 100;
                top: -430px;
                left: 180px;;
                img {
                    width: 100%;
                }
            }

            .funder-stats {
                width: 57%;
                bottom: 113px;
                left: 218px;
            }

            .summary-card {
                width: 55%;
                right: auto;
                left: 10px;
                top: -293px;
            }

            .orange-circle-2 {
                position: absolute;
                bottom: 188px;
    left: 118px;
            }

            .square-dots-alternate {
                position: absolute;
                width: 70px;
                top: -321px;
    left: 117px;
                img {
                    width: 100%;
                };
            }
        }
    }

    .hero-left {
        position: relative;
        top : -220px;
        .image-container {
            top: -100px;
        }
    }
}

// APP STORE SECTION //

// SHAPES STYLES //

.pink-rectangle {
    background-color: #FFEFEB;
    width: 467px;
    height: 370px;
}

.purple-rectangle {
    background-color: #F0EEFB;
    width: 370px;
    height: 350px;
}

.blue-circle {
    background-color: #4834D4;   
    width: 102px;
    height: 102px;
    border-radius: 50%;
}
.orange-circle-2 {
    background-color: #FF8565;   
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

.purple-circle {
    background-color: #4834D4;   
    width: 445px;
    height: 445px;
    border-radius: 50%;
}

// END SHAPES STYLES //

// FOOTER SECTION //

.social-icon {
    width: 72px;
}

.footer-section {
    .club-nav {
        .ul {
            li {
                margin-right: -24px;
            }
        }
    }
    .copyright {
        border-top: 1px solid rgba(108, 117, 125, .16);
        .p {
            font-size: 16px;
            margin: 22px 0;
            color: rgb(108, 117, 125)
        }
    }
}

// FOOTER SECTION //


// Mailchimp Form //

#mc_embed_signup {
    .email {
        padding: 16px;
        font-size: 16px;
        border: 1px solid rgb(222, 226, 230);
        min-width: 343px;
        margin-bottom: 16px;
border-radius: 8px;

        &:focus-visible {
            border: 1px solid rgb(222, 226, 230);
            box-shadow: 0 10px 100 0 rgba(227, 229, 238, 1);
            outline: none;
        }
    }

    #mc-embedded-subscribe {
        min-width: 343px;
        background-color: #4834D4;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        padding: 16px 0;
        border-radius: 8px;
        border: 1px solid #4834D4;
    }
}
#mc_embed_signup-2 {
    .email {
        padding: 16px;
        font-size: 16px;
        border: 1px solid rgb(222, 226, 230);
        min-width: 343px;
        margin-bottom: 16px;
border-radius: 8px;

        &:focus-visible {
            border: 1px solid rgb(222, 226, 230);
            box-shadow: 0 10px 100 0 rgba(227, 229, 238, 1);
            outline: none;
        }
    }

    #mc-embedded-subscribe {
        min-width: 343px;
        background-color: #4834D4;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        padding: 16px 0;
        border-radius: 8px;
        border: 1px solid #4834D4;
    }
}
#mc_embed_signup-3 {
    .email {
        padding: 16px;
        font-size: 16px;
        border: 1px solid rgb(222, 226, 230);
        min-width: 343px;
        margin-bottom: 16px;
border-radius: 8px;

        &:focus-visible {
            border: 1px solid rgb(222, 226, 230);
            box-shadow: 0 10px 100 0 rgba(227, 229, 238, 1);
            outline: none;
        }
    }

    #mc-embedded-subscribe {
        min-width: 343px;
        background-color: #4834D4;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        padding: 16px 0;
        border-radius: 8px;
        border: 1px solid #4834D4;
    }
}


//  MOBILE //

@media only screen and (min-width: 200px) and (max-width: 429px) {
    
    .min-h-350 {
        min-height: 350px;
    }

    .mt-80 {
        margin-top: 80px;
    }

    .mt-24 {
        margin-top: 24px;
    }

    .h-100 {
        height: auto;
        margin-bottom: 120px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }
    .nav-section {
        margin-bottom: 40px;
    }

    .club-nav {
        display: none;
    }

    .h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    
    .container {
        max-width: 350px;
        margin: 0 auto;
    }
    
    .hero-section {
        height: auto;
        margin-bottom: 200px;
       padding-top: 60px;
    }
  
    .mobile-wrap {
        flex-wrap: wrap;

        .hero-left {
            width: 100%;
        }

        .hero-right {
            width: 100%;
        }
    }

    .mobile-wrap-revers {
        flex-wrap: wrap-reverse;

        .hero-left {
            width: 100%;
        }

        .hero-right {
            width: 100%;
        }
    }

    .hero-right {
        .image-container {

            .hero-card {
                width: 100%;
                top: -80px;
                right: -40px;
            }

            .hero-stats {
                bottom: -170px;
                left: -54px;
            }

            .summary-card {
                width: 100%;
                z-index: 300;
                top: 0px;
                right: -60px;
            }

            .funder-stats {
                width: 92%;
                bottom: -150px;
                left: -55px;
            }

            .circle-dots {
                top: 280px;
                left: 180px;
            }

            .funding-card {
                width: 85%;
                top: -60px;
                right: -30px;
            }

            .adjust-fund {
                width: 250px;
                bottom: -80px;
                left: 64px;
            }
        }

        .image-container-left {
            .hero-card {
                width: 100%;
                z-index: 300;
                top: -80px;
                right: -70px;
            }
    
            .hero-stats {
                bottom: -150px;
                left: -70px;
            }

            .purple-circle {
                width: 300px;
                height: 300px;
                top: 0px;
                left: 25px;
            }

            .orange-circle-2 {
                top: -40px;
            }

            .athlete-card {
                top: -60px;
                right: 40px;
            }

            .square-dots-2 {
                top: 200px;
                left: 240px;
            }
        }
    }

    .hero-left {
        
    }

    .app-store-section {

        max-height: 1000px;
        min-height: 1000px;

        .hero-left {
            top: 80px;
        }

        .hero-right {
            top: 0;

            .image-container {
                .blue-circle {
                    &.two {
                        top: 150px;
                        right: 220px
                    }
                }

                .orange-circle-2 {
                    bottom: -380px;
                }

                .phone-card {
                    top: 180px;
                    left: 64px;
                }

                .summary-card {
                    left: -70px;
                    top: 500px;
                    width: 80%;
                }

                .funder-stats {
                    width: 80%;
                    bottom: 40px;
                    left: 140px;
                }

                .circle-dots {
                    top: 400px;
                    z-index: 80;
                    left: 258px;
                }

                .square-dots-alternate {
                    top: 280px;
                    left: 0;
                }
            }
        }
    }

    .footer-section {
        padding-top: 80px;

        .mobile-center {
            justify-content: center;
        }

        .mobile-h-24 {
            height: 24px;
            margin-bottom: 16px;
        }
    }
}




// TABLET //

@media only screen and (min-width: 430px) and (max-width: 768px) {
}